doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Translator Bot dashboard, here you can view informations about it and check it status.")
    meta(name="author", content="luisgbr1el")
    meta(property="og:image", content=avatarURL + "?size=512")
    title
      != 'Panel ' + username + ' Bot'
    style
      include css/index.css
      include css/responsivity.css

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css", integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==", crossorigin="anonymous", referrerpolicy="no-referrer")
  body
    div(class='tab')
      img(width="150px", src=avatarURL + "?size=512", id="logo")

    div(id='title')
      != '<b>' + username + "</b>'s Status"
    br/
    div(id="pfp")
      img(width="150px", src=avatarURL + "?size=512", id="pfp")
      div(id='status')
        span(class='dot')
        p(id='status')
          != "ONLINE"
      br/
      div
        a(id='invite', href='https://discord.com/oauth2/authorize?client_id=745021822361141278&permissions=84992&scope=bot', target="_blank") Invite bot

    div(id="infos")
      div
        div(id="guilds") Guilds 
        p(class="text")
          != guilds
      div
        div(id="channels") Channels
        p(class="text")
          != channels
      br/
      div
        div(id="botId") Bot ID
        p(class="text")
          != botId
      div
        div(id="actType") Activity
        p(class="text")
          != actType
      br/
      div
        div(id="commands") Commands
        br/
        span
          each val in commands
            p(class="command", onclick="showDetailsPopup('" + val.name +"','" + val.description + "')")= '/' + val.name
    each val in commands
      div(class="modal", id="modal" + val.name, style="display: none;")
        div(class="contentModal", id="content" + val.name)
          div(class="detailsPopup" id=val.name)
            h2= '/' + val.name
            p=val.description
            button(class="close" id="close" + val.name, onclick="closeModal('" + val.name + "')")
              i(class="fa-solid fa-xmark")
  script
    include scripts/popup.js